<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <runtime>
    <developmentMode developerInstallation="false"/>
  </runtime>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="true"/>
    <add key="Form.DisableSinglePassScalingOfDpiForms" value="false"/>
    <add key="ToolStrip.DisableHighDpiImprovements" value="false"/>
    <add key="CheckedListBox.DisableHighDpiImprovements" value="false"/>
    <add key="MonthCalendar.DisableHighDpiImprovements" value="false"/>
    <add key="AnchorLayout.DisableHighDpiImprovements" value="false"/>
    <add key="DataGridView.DisableHighDpiImprovements" value="false"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
